
body {
    background-image: url(img/pozadi2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
    
}

header {
    
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 40px 10px;
}

.list-left {
    text-align: left;
    margin-left: 250px;
    padding: 20px;
    margin-right: auto;
    
}

.list-right {
    text-align: right;
    margin-right: 250px;
    padding: 20px;
    margin-left: auto;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    font-size: 20px;
    color: Black;
    
}
button {
    background-color: rgb(235, 172, 57);
    border: none;
    border-radius: 50px;


}

h1 {
    font-size: 80px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    
}

.center {
    font-size: 35px;
    color: rgb(235, 172, 57);
}

.foot {
    text-align: center;
    padding-top: 115px;
}
.nadpis-teams h1{
    font-size: 70px;
    text-align: center;
}
.nadpis-teams p {
    display: block;
    font-size: 20px;
    text-align: center;
    color: orange;

}
.nadpis-contact p {
    display: block;
    font-size: 20px;
    text-align: center;
    color: orange;
}
.nadpis-contact h1{
    font-size: 70px;
    text-align: center;
}

.nadpis-partners p {
    display: block;
    font-size: 20px;
    text-align: center;
    color: orange;
}
.nadpis-partners h1{
    font-size: 70px;
    text-align: center;
}

.nadpis-managment p {
    display: block;
    font-size: 20px;
    text-align: center;
    color: orange;
}
.nadpis-managment h1{
    font-size: 70px;
    text-align: center;
}

.content {
    padding-top: 100px;
}





.containerr { 
    height:300px;
    display: flex;
    justify-content: center;
    } 
    .containerr div{
    width:180px; 
    height:100px; 
    padding: 20px;
    
    }
    #box2{ 
    margin-left:30px; 
    margin-right:30px;
    } 
    p {
    color: black;
    padding:5px 10px;
    text-align:center;
    }
    #box5 {
        margin-left: 30px;
    }
    h2 {
        text-align: center;
    }
    
    
 